body {
  margin: 0px;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.section-login {
  height: calc(100vh - 50px);
  display: flex;
  background-color: whitesmoke;
}

.main-nav .links {
  float: right;
}

.main-nav {
  background-color: #1e2125;
  color: white;
  height: 50px;
  display: flex;
}
.main-nav .container {
  width: 100%;
}

.main-nav .links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
